/* index.css or App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: black;
}

.active-link {
  color: green;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: green;
}

footer {
  width: 100%;
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
